.blog-author-skin {
    background-image: url('https://minotar.net/helm/58025126-17c2-4fe3-bbc9-81519341f7d6/32.png'); 
}

.author-name::after {
   content: "Nucloida";
   color: red;
}

.blogtitle::after {
   content: "Local Test Post";
}

.blogcontent::after {
   white-space: pre-wrap;
   font-weight: bold;
   content: "Test";
}

.about-responsemain::after {
   content: "Test";
}
