.blog-author-skin {
    background-image: url('https://minotar.net/helm/CodeDetox/32.png'); 
}

.author-name::after {
   content: "Code Detox";
   color: #ff0000;
}

.blogtitle::after {
   content: "Initial Release";
}

.blogcontent::after {
   white-space: pre-wrap;
   font-weight: bold;
   content: "IgnTabz sucks asscheeks";
}

.about-responsemain::after {
   content: "Aero Client is a Free Modpack built for Minecraft 1.7.10. The goal and mission of Aero Client is to create a non-toxic and safe playing environment.";
}
